@import'../../../style/styleBySelf.scss';


.navigator{
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 44rpx;
  top: 144rpx;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  
  .left-icon-container{
    display: flex;
    align-items: center;
    .left-icon{
      width: 44rpx;
      height: 44rpx;
    }
  }
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 44rpx;
    color:rgb(0, 0, 0);
    opacity: 0.6;
    font-size: 28rpx;
    line-height: 30rpx;
    flex: 1;
    font-family: "AppleGothic"
  }


}