@import '../../style/styleBySelf.scss';

.bg-cover{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(white,1);
  backdrop-filter: blur(30px);
}

.page{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "AppleGothic";
  .header{
    width: 100vw;
    height: 480rpx;
    background-color: $primary-color; 
    border-radius: 0 0 200rpx 0;
    overflow: hidden;
    position: relative;
    .header-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 480rpx;
    }
    .user-box{
      opacity: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      height: 76rpx;
      top: 128rpx ;
      left: 50rpx;
      .avatar-box{
        background-color: #fff;
        width: 76rpx;
        height: 76rpx;
        line-height: 76rpx;
        text-align: center  ;
        border-radius: 76rpx;
        font-weight: bold;
        font-size: 34rpx;
        color: $text-acitve-color;
      }
  
      .notification-box{
        margin-left: 36rpx;
        position: relative;
       
        .bell-icon{
          width: 48rpx;
          height: 50rpx;
        }
        .dot-icon{
          position: absolute;
          right: -4rpx;
          top: -14rpx;
          width: 34rpx;
          height: 34rpx;
        }
        .dot-num{
          position: absolute;
          font-size: 18rpx;
          color: white;
          right: 8rpx;
          top: -10rpx;
        }
      }
  
    }
  }
  .category-banner-list{
    position: absolute;
    top: 274rpx;
    height: 440rpx;
  .big-container{
    position: relative;
    height: 440rpx;
    width: 100%;
  .container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 440rpx;
    .category-box{
      border-radius: 30rpx 30rpx 20rpx 20rpx;
      overflow: hidden;
      box-shadow: 0rpx 20rpx 150rpx 0rpx rgba(0,0,0,0.08);
      width: 280rpx;
      height: 440rpx; 
      margin-left: 40rpx;
      position: relative;
    image{
      max-width: 100%;
      max-height: 100%;
      display: block;

    }
    .title-container{
      position: absolute;
      top: 40rpx;
      left:30rpx;
      .name{
        font-size: 36rpx;
        color:#FFFFFF;
        line-height: 42rpx;
      }
      .playTimes{
        font-size: 28rpx;
        color:#FFFFFF;
        opacity:0.8;
      }
    }
    }
  }
  }
  }
  .trending-musician{
    margin-top:324rpx
  }
  .recommendMusicList{
    margin-top: 80rpx;
  }
  .recommendAlbumList{
    margin-top: 80rpx;
  }
  .recommendPodcastList{
    margin-top: 80rpx;
  }
  .lastPlayMusic{
    margin-top: 80rpx;
    .lastplaymusic-list{
      display: flex;
      flex-direction: column;
      padding: 0 50rpx;
    }
  }
//播放工具栏的padding更优解决方案
//因为fix的时候，页面中不占位，所以我们写了一个与fix相同高度的relative填充该位置
.play-bar-placeholder{
  height: 44px;
}

// 播放工具栏
  .play-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    padding: 0 8px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0,0,0, 0.1);
    .left{
      flex: 1;
      display: flex;
      align-items: center;
      .cover{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: relative;
        top: -6px;
      }
      .cover-anim{
        //旋转10s 
        animation: coverRotate 16s linear infinite;
      }
      //旋转动画
      @keyframes coverRotate{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(360deg);

        }
      }
      .name{
        font-size: 14px;
        margin-left: 10rpx;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .right{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .icon-play{
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
      

      .icon-playlist{
        width: 30px;
        height: 30px;
      }
    }
  }

}


