

/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;

} 
page{
  font-family: "Barlow,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif,AppleGothic" !important;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;

}