/* pages/music-player/detail.wxss */
page{
  overflow-y: hidden;
}

.bg-image{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

}
.bg-cover{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(white,.5);
  backdrop-filter: blur(30px);
}
.maskBgc{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.shrinked-lyc-container{
  position: relative;
  flex: 1;
 
  width: 632rpx;
  max-width:  632rpx;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  .shrinked-scroll-container{
    position: relative;
    display: flex;
    max-height: 60rpx;
    width: 30rpx;
  scroll-view{
    max-height:  50rpx ;
    view{
      width: 100%;
      color: rgba(black,0.5);
      font-size:34rpx;
      line-height: 50rpx;
      text-align: center;
    }
    .currentLyc{
      color:rgba(#0041c4,1);
    }
  }
}
}

.real-music-list{
  position: absolute;
  bottom: 2vh;
  left: calc((100vw - 628rpx) / 2);
  /* 通过位移隐藏列表框 */
  width: 628rpx;
  height: 628rpx;
  border-radius: 40rpx;
  background-color: rgba(white,0.6);
  backdrop-filter: blur(60rpx);
  // opacity: 0;
  display: block;

  transform: translate(0%,58vh);
  transition: transform 0.75s;
  
  overflow: hidden;
  z-index: 1000;
  .music-list-container{

    max-height: 628rpx;
    max-width: 628rpx;
    width: 628rpx;
    height: 628rpx;
    display: flex;
    flex-direction: column;
  .music-list-title{
    height: 6vh;
    width: calc(100% - 34rpx); 
    font-size: 34rpx;
    line-height: 6vh;
    margin-left: 35rpx;
    font-weight: 600;
    color: rgba($color: black, $alpha: 0.75);
    .musicListLength{
      font-size: 26rpx;
      color:rgba($color: grey, $alpha: 0.95);;
    }

  }
  .musicListSrcoll{
    margin-left: 34rpx;
    height: 50%;
    flex: 1;
    width: calc(100% - 34rpx); 
    .musicItem{
      position: relative;
      margin: 0rpx 0 0rpx 0rpx;
      height:70rpx;
      width: 100%;
      text-overflow: ellipsis;
   

      display: flex;
      align-items: center;
      .music-info-container{
        display: flex;
        flex-direction: row;
        
        width: 80%;
        max-width:80% ;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 25rpx;
        color:rgba($color: black, $alpha: 0.80);;
        .artist-name{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 25rpx;
          color:rgba($color: grey, $alpha: 0.85);
        }
        .current-music-name{
        color:rgba($color: #0041c4, $alpha: 1);

        }
        .current-artist-name{
          color:rgba($color: #0041c4, $alpha: 1);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 25rpx;
        }
      }
      .delete-icon-container{
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        .delete-icon{
          color: #a0a0a0;
          font-size: 50rpx;
        }
      }
    }
  }
  .music-list-bottom{
    min-height: 4vh;
  }
}
}
.function-icon-container{
  height: 50vh;
  width: 50vh;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
}
.page{
  display: flex;

  flex-direction: column;
  height: 100%;
  width: 100%;


  position: relative;
  width: 100vw;
  height: 100vh;


  .music-player-container{
 
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    
  }
  .img-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    min-height: 50vh;
   
    view{
      position: relative;
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      border-radius: 40rpx;
      .musicImg{
        margin-top: 2vh;
        
        width: 628rpx;
        height: 628rpx;
        border-radius: 40rpx;
        display: inline-block;
      }
      //高斯模糊
      .musicImg::before{
        // content: "";
      
      
        // position: absolute; /* 一定要用绝对定位 */
        // width: 628rpx;
        // height: 628rpx;
        // backdrop-filter: blur(120rpx); /* 模糊半径 */
        // border-radius: 40rpx;
        // opacity: 0.6;
        // z-index:-1;
      }

    }
  }
  .lyc-container{


   width: 40vh;
   height: 50vh;
 
   max-height: 50vh;
    border-radius: 40rpx;
    scroll-view{
      max-height:50vh;
     height: 100%;
    
      view{
        max-height: 50rpx;
        width: 100%;
        color: rgba(black,0.5);
        font-size:34rpx;
        line-height: 50rpx;
        text-align: center;
      }
      .currentLyc{
        color:#0041c4;
      }
      .decorate{
        visibility: hidden;
      }
    
    }
  }


  .text-container{
    position: relative;

  
    width: 632rpx;
    max-width:  632rpx;

    height: 162rpx;
    max-height:  162rpx;
    view{
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      
      .music-name-container{
          width: 100%;
          height: 52rpx;
          color: rgb(8, 8, 8);
          font-size: 48rpx;
          font-weight: 1400rpx;
          line-height: 52rpx;
          letter-spacing: 0px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: "AppleGothic"
      }
      .album-name-container{
        width: 100%;
        height: 40rpx;
        color: rgb(255, 45, 85);
        opacity: 0.6;
        font-size: 34rpx;
        font-weight: 800rpx;
        line-height: 40rpx;
        letter-spacing: 0px;
        margin-top: 16rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "AppleGothic"
    }
    .artist-name-container{
      width: 100%;
      height: 40rpx;
      color: rgb(8, 8, 8);
      opacity: 0.61;
      font-size: 34rpx;
      font-weight: 800rpx;
      line-height: 40rpx;
      letter-spacing: 0px;
      margin-top: 16rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "AppleGothic"
  }
    }
  
  }
  .time-code-solider{
    position: relative;;
      flex: 0.4;
   display: flex;
   flex-direction: column;
   justify-content: center;
    height: 84rpx;
    width: 634rpx;
    .progress{
      position: relative;
      width: 100%;
      height: 30rpx;
      //进度条以外的背景颜色
      background-color: rgba(16, 93, 251,0.4);
      //主要倒圆角的位置
      border-radius:60rpx;
      overflow: hidden;
      .progress-bar{
        // 设置默认的宽度，我们用脚本来设置该宽度
        width: 0;
        height: 100%;
// 设置背景主色调，进度条的主要颜色来源，进度条其实原本没什么颜色
        background-color: rgba(16, 93, 251,1);
        background-image:
        linear-gradient(
          // 倾斜135度
        135deg,
        //rgba(255,255,255,.15) 就是白色线 

        // rgba(255,255,255,.15) 0%,
        // rgba(255,255,255,.15) 25%, 意思是整个图片的0-25%是整个颜色的，也就是有点透明的白色
        rgba(255,255,255,.15) 0%,
        rgba(255,255,255,.15) 25%,
        // transparent 25%,transparent 50%,意思是整个图片的25-50%是透明的，他之所以看起来是蓝色是因为我们设置了背景颜色，
        transparent 25%,transparent 50%,
        //同上
        rgba(255,255,255,.15) 50%,
        rgba(255,255,255,0.15) 75%,
        //同上
        transparent 75%,transparent 100%);
        //设置背景图像的高度和宽度(不加的话，只有一张图片而且图片会一直变大，失真)
        background-size:80rpx 80rpx;
        // transition: width 0.6s ease;
        //倒圆角，主要倒圆角的位置不是在这里，在父级容器
        border-radius: 60rpx;
        // progress-bar-anim是我们自定义的动画
        //2s 就是整个移动持续2s
        //linear线性 要是不加就2s触发一次动画，这也是我们进度条美观的核心
        //infinite无限循环，这就是我们精度条美观的核心
        animation: progress-bar-anim 2s   linear infinite;
        .progress-bar-value{
          font-size: 26rpx;
          font-weight: bold;
          opacity: 0;
          color: white;
        }
        // 设置动画
        // 动画的内容，图片从右边 80rpx的位置滑动的移动到0px的位置
        //因为我们的进度条最长也就80px，也就是说整个背景图片就会一直往左移动
        @keyframes progress-bar-anim{
          from{
            background-position:80rpx  0;
          }
          to{
            
            background-position:0rpx  0;
          }
        }
      }
    }
    .slider-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      view{
        width:98%;
        height: 100%;

        

    .slider{
      width: 100%;

      
   
      margin: 0 0 0 0 !important;
    
   
    }
    wx-slider .wx-slider-track  {
      width: 0 ;
  // background: linear-gradient(to right, #4169E1 0%, #00FFFF 100%);
  background-image:
  linear-gradient(
    // 倾斜135度
  135deg,
  //rgba(255,255,255,.15) 就是白色线 

  // rgba(255,255,255,.15) 0%,
  // rgba(255,255,255,.15) 25%, 意思是整个图片的0-25%是整个颜色的，也就是有点透明的白色
  rgba(255,255,255,.15) 0%,
  rgba(255,255,255,.15) 25%,
  // transparent 25%,transparent 50%,意思是整个图片的25-50%是透明的，他之所以看起来是蓝色是因为我们设置了背景颜色，
  transparent 25%,transparent 50%,
  //同上
  rgba(255,255,255,.15) 50%,
  rgba(255,255,255,0.15) 75%,
  //同上
  transparent 75%,transparent 100%);
  //设置背景图像的高度和宽度(不加的话，只有一张图片而且图片会一直变大，失真)
  background-size:80rpx 80rpx;
  // transition: width 0.6s ease;
  //倒圆角，主要倒圆角的位置不是在这里，在父级容器
  border-radius: 60rpx;
  // progress-bar-anim是我们自定义的动画
  //2s 就是整个移动持续2s
  //linear线性 要是不加就2s触发一次动画，这也是我们进度条美观的核心
  //infinite无限循环，这就是我们精度条美观的核心
  animation: progress-bar-anim 2s   linear infinite;
  @keyframes progress-bar-anim{
    from{
      background-position:80rpx  0;
    }
    to{
      
      background-position:0rpx  0;
    }
    }
    }

    wx-slider .wx-slider-handle-wrapper{
    height:26rpx;
    }
  }
  }
    .time-container{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .current-time{
        font-size: 22rpx;
        font-weight: 800rpx;
        line-height: 26rpx;
        color:rgba(16, 93, 251);
        font-family: "AppleGothic"
      }
      .total-time{
        font-size: 22rpx;
        font-weight: 800rpx;
        line-height: 26rpx;
        color:rgba(16, 93, 251);
        font-family: "AppleGothic"
      }
    }
  }

.play-icon-container{
  width: 634rpx;
  height: 100rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
    .back{
        position: relative;
        width: 36rpx;
        height: 40rpx;
 
        view{
          position: relative;
          width: 36rpx;
          height: 40rpx;
          max-width:36rpx ;
          max-height: 40rpx;
          image{
            width: 100%;
            height: 100%;
            max-width:56rpx ;
            max-height: 60rpx;
          }
        }
    }

    .previous-music{
      position: relative;
      width:  66rpx;
      height: 40rpx;
      view{
        position: relative;
        width: 100%;
        height: 100%;
        max-width:100% ;
        max-height: 100%;
        image{
          width: 100%;
          height: 100%;

        }
      }
  }

  .play-music{
    position: relative;
    width:  140rpx;
    height: 140rpx;
    view{
      position: relative;
      width: 100%;
      height: 100%;
      max-width:100% ;
      max-height: 100%;
      image{
        width: 100%;
        height: 100%;

      }
    }
}
.next-music{
  position: relative;
  width:  66rpx;
  height: 40rpx;
  view{
    position: relative;
    width: 100%;
    height: 100%;
    max-width:100% ;
    max-height: 100%;
    image{
      width: 100%;
      height: 100%;

    }
  }
}
.forward{
  position: relative;
  width: 36rpx;
  height: 40rpx;
  view{
    position: relative;
    width: 36rpx;
    height: 40rpx;
    max-width:36rpx ;
    max-height: 40rpx;
    image{
      width: 100%;
      height: 100%;
      max-width:56rpx ;
      max-height: 60rpx;
    }
  }
}
}
.like-icon-container{
  width: 650rpx;
  height: 200rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

.like{
  position: relative;
  width: 48rpx;
  height: 48rpx;

  view{
    position: relative;
    width: 100%;
    height: 100%;
    image{
      width: 100%;
      height: 100%;

    }
  }
}
.ramdom-play{
  position: relative;
  width: 56rpx;
  height: 56rpx;

  view{
    position: relative;
    width: 100%;
    height: 100%;
    image{
      width: 100%;
      height: 100%;

    }
  }
}
.single-circle-play{
  position: relative;
  width: 48rpx;
  height: 48rpx;

  view{
    position: relative;
    width: 100%;
    height: 100%;
    image{
      width: 100%;
      height: 100%;

    }
  }
}
.list-circle-play{
  position: relative;
  width: 48rpx;
  height: 48rpx;

  view{
    position: relative;
    width: 100%;
    height: 100%;
    image{
      width: 100%;
      height: 100%;

    }
  }
}
.music-list{
  position: relative;
  width: 60rpx;
  height: 60rpx;

  view{
    position: relative;
    width: 100%;
    height: 100%;
    image{
      width: 100%;
      height: 100%;

    }
  }
}
}





}
